/*Browser reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global Style */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: auto 10px;
    color: seashell;
    background-color: black;
}


/* Header Start */

nav.Header {
    margin: 0px 0px;
    box-sizing: content-box; 
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: black;
}

img.Logo {
    display: inline-block;
    justify-content: start;
    height: 50px;
    width: auto;
    color: seashell;
    padding: 0;
    margin-left: 10px;
}

ul.Navlist {
    display: inline-block;
    box-sizing: content-box;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

li {
    display: inline;
}

.Header li a {
    text-decoration: underline;
    color: seashell;
    justify-content: space-between;
    opacity: 0.9;
}

/* Header End */


/* Banner Start*/

.Banner {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    display: flex;
    align-content: center;
    height: 700px;
    width: 1200px;
    background: url("img-mission-background.jpg");
    background-size: cover;

}

.Mission {
    box-sizing: content-box;
    width: 1200px;
    height: 100px;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: seashell;
    background-color: black;
}

.Banner h2, h4 {
    opacity: 0.9;
}

/* Banner End */


/* Tea of the Month Start*/

.TeaTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: black;
}

.TeaTitle h2, h4 {
    margin: 10px;
    opacity: 0.9;
}

section.Teas {
    box-sizing: border-box;
    margin: auto;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

div.Container {
    margin-bottom: 10px;
}

div.Container1 {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
}

div.Container2 {
    margin-left: 20px;
    margin-right: 20px;
}

.image {
    width: 300px;
    height: 200px;
}

.Container h4 {
    text-align: center;
    opacity: 0.9;
}

.Container2 h4 {
    text-align: center;
    opacity: 0.9;
}

/* Tea of the Month End */


/* Locations Start */

section.Locations {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: url("img-locations-background.jpg");
    background-size: auto auto;
    height: 570px;
    width: 1200px;
}

section.Locations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

div.LocationHeader {
    margin-top: 120px;
    opacity: 0.9;
}

div.Places {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 15px;
}

div.Downtown,
div.East,
div.Oakdale {
    height: auto;
    width: 300px;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 2;
    margin-left: 20px;
    margin-right: 20px;
}

div.Places h4 {
    font-weight: 200;
}

/* Locations End */


/* Contact Start */

div.ContactBox {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: auto;
    text-align: center;
    line-height: 3;
    opacity: 0.9;
}

/* Contact End */


/* Footer Start */

p {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    opacity: 0.9;
}

/* Footer End */
